<h1><%= title %></h1>
<p><%= message %></p>
<form id="form" method="post" action="/login">
USER ID<input type="text" id="userId" name="userId" value="test"><br>
PASSWORD<input type="password" id="password" name="password"><br>
<input type="submit" id="button" name="button" value="LOGIN"><br>
</form>
